.about-container {
    &_image {
        width: 100%;
        margin: 0 auto;
    }
    
    .our-schedule {
        text-align: center;
        &-days {
            margin: 1rem 0;
            .sub_paragraph {
                font-size: .9rem;
            }
        }
    }
}