.about-me {
    .about_column {
        .about_column_head {
            margin: 2rem 0;
            .about_column_title {
                font-size: 2rem;
            }
            .about_column_subtitle {
                font-size: 1rem;
                color: $primary-color;
            }
        }
        .about_column_image {
            height: 26rem;
        }
    }
    .column_body {
        padding: 3rem 0;
    }

    .column_image {
        padding: 3rem 0;
        text-align: center;
    }
}