<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="">Innovative Technology and Professional Dentists</h2>
            </div>
            <div class="col-12 col-lg-3">
                <div class="footer_item">
                    <div class="footer_item_title">
                        Address
                    </div>
                    <div class="footer_item_body">
                        <p>Germany —<br>
                            785 15h Street, Office 478<br>
                            Berlin, De 81566</p>
                    </div>
                </div>
                <div class="social_networks_icons">

                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="footer_item">
                    <div class="footer_item_title">
                        Say hello
                    </div>
                    <div class="footer_item_body">
                        <div class="mailto">
                            <a href="mailto:info@email.com">info@email.com</a>
                        </div>
                        <div class="callto">
                            <a href="tel:59176234714">+591 76234714</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-container_copyright">
            <div class="col-lg">
                <span>DentalCare</span> &copy; 2021 All Rights Reserved.
            </div>
        </div>
    </div>
</div>