<div class="block-container about-me">
    <div class="container">
        <div class="row" style="border: thin solid ">
            <div class="col about_column column_image">
                <img src="assets/img/dentist_profile.jpg" alt="about me" class="about_column_image">
            </div>
            <div class="col about_column column_body">
                <div class="about_column_head">
                    <h2 class="about_column_title">Dr. Laura Anderson</h2>
                    <span class="about_column_subtitle">PROFESSIONAL DENTIST</span>
                </div>
                <p>Dr. Laura Anderson graduated from Stanford University, Medical College in 2011. During internship
                    period in medical college hospital, her special interest was Odontology</p>
                <p>“It was a desire to serve others that ultimately drove my decision to become a physician. This sense
                    of calling was reinforced early in my medical training when I first had the opportunity to care for
                    and emotionally connect with patients. I think of my mentors over those years who not only taught me
                    the art and skills of medicine, but more importantly how to be a doctor.</p>
            </div>
        </div>
        <div class="row my-5" style="border: thin solid">
            <div class="col about_column column_body">
                <p>“My passion to serve was later reinforced as an Air Force physician. Caring for ill and injured
                    servicemen and servicewomen was among the most humbling yet rewarding experiences in my life. Here
                    at Michigan Medicine, as a subspecialty physician and a medical director, I have been able to expand
                    my opportunities to connect with patients and families during their most vulnerable times.</p>
                <p>“Each time I work closely with young doctors and medical students, I am again reminded of my initial
                    motivation to become a doctor. Their joy, passion and desire to serve others inspires me.”</p>
                <p>Rice is a gastroenterologist and an instructor at Michigan Medicine.</p>
            </div>
            <div class="col about_column column_image">
                <img src="assets/img/dentist_profile_two.jpg" alt="about me" class="about_column_image">
            </div>
        </div>
    </div>
</div>