@import './sass/variables';
@import './sass/buttons';
@import './sass/header';
@import './sass/pages/pages';
@import './sass/footer';

// Components
@import './sass/components/social_networks';

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    // Small devices (landscape phones, 576px and up)
    @media (max-width: 767px) { font-size: 12.5px; }// x <= 767
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { font-size: 14px; } // 768 <= x <= 991
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { font-size: 15px; } // 992 <= x <= 1199
    // X-Large devices (desktops, 1200px and up)
    @media (min-width: 1200px) { font-size: 16px; } // x >= 1200
    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) { font-size: 16px; }
}



.mat-form-field {
    width: 100%;
}

.sub_paragraph {
    font-size: .9rem;
}
.social_network {
    width: 3rem;
    height: 3rem;
    margin: .7rem;
}

.block-container {
    font-weight: 300;
    margin: 2.5rem 0;
    padding: 0 1.5rem;
    border: thin solid;
    font-size: 1.15rem;
    line-height: 2rem;
    color: $text-color;

    .block-column {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .block_column_left {
        // padding-right: 4.5rem;
    }
    .block_column_right {
        // padding-left: 4.5rem;
    }

    .block-head {
        margin-top: 1rem;
        .block_title {
            font-size: 3rem;
            line-height: 3rem;

            @media (max-width: 991px) {
                font-size: 2.2rem;
                line-height: 2.5rem;
            }
        }
        .block_subtitle {
            font-size: .95rem;
            font-weight: 400;
        }
    }
}

.icon_form {
    margin-right: 1rem;
}
