@import './sass/variables';
@import './sass/buttons';
@import './sass/header';
@import './sass/pages/pages';
@import './sass/footer';

// Components
@import './sass/components/social_networks';

.mat-form-field {
    width: 100%;
}

.sub_paragraph {
    font-size: .9rem;
}
.social_network {
    width: 3rem;
    height: 3rem;
    margin: .7rem;
}

.block-container {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 2.5rem 0;
    padding: 1.5rem;
    border: thin solid;
    font-size: 1.15rem;
    line-height: 2rem;
    color: $text-color;

    .block_column_left {
        padding-right: 4.5rem;
    }
    .block_column_right {
        padding-left: 4.5rem;
    }

    .block_title {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2.1rem;
    }
    .block_subtitle {
        font-size: .95rem;
        font-weight: 400;
    }
}

.icon_form {
    margin-right: 1rem;
}
