$text-color-white: #F8F8F8;
$text-color: #0c0f26;
$success-color: #04ce78;
$dark-success-color: darken($success-color, 5%);
$primary-color: #2B88E5;
$dark-primary-color: darken($primary-color, 5%);

.mat-form-field {
    width: 100%;
}

.dental_logo {
    height: 2.5rem;
}

.navbar-light {
    background-color: #ffffff;
    height: 7rem;
}
.navbar-nav {
    .nav-item {
        margin-left: .5rem;
        margin-right: .5rem;
        .nav-link {
            color: $text-color;
            &_contact {
                margin-right: 2rem;
                &_image {
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: .5rem;
                }
                span {
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.link-text {
    font-weight: 600;
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
.btn {
    font-weight: 400;
    font-size: 1rem;
    padding: .7rem 2.5rem;
    border-radius: 1.5rem;
}
.btn-link {
    color: $text-color;
    // animation: underline_hover .8s cubic-bezier(.25,.8,.25,1) both;
}

.btn-success {
    border-color: $success-color;
    background-color: $success-color;
}
.btn-success:hover {
    color: #fff;
    background-color: $dark-success-color;
    border-color: $dark-success-color;
}
.btn-check:focus+.btn-success, .btn-success:focus {
    color: #fff;
    background-color: $dark-success-color;
    border-color: $dark-success-color;
    box-shadow: 0 0 0 0.25rem rgb(60 153 110 / 50%);
}
.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: $dark-success-color;
    border-color: $dark-success-color;
}

.btn-primary {
    border-color: $primary-color;
    background-color: $primary-color;
}
.btn-primary:hover {
    color: #fff;
    background-color: $dark-primary-color;
    border-color: $dark-primary-color;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: $dark-primary-color;
    border-color: $dark-primary-color;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $dark-primary-color;
    border-color: $dark-primary-color;
}

.sub_paragraph {
    font-size: .9rem;
}
.social_network {
    width: 3rem;
    height: 3rem;
    margin: .7rem;
}

.banner-container {
    position: relative;
    .banner_item {
        &_image {
            height: 85vh;
            background-image: url(assets/img/dentist_banner.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }
        &_background_overlay {
            background-color: transparent;
            background-image: linear-gradient(180deg, #040C38 50%, #FFFFFF00 100%);
            opacity: 0.3;
            transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 2;
        }
        &_container_caption {
            display: flex;
            position: absolute;
            top: 15vh;
            left: 10vw;
            width: 70vw;
            height: 60vh;
            z-index: 3;
            color: #ffffff;
            &_title {
                font-size: 4.5rem;
                margin: 2rem 0;
            }
            &_subtitle {
                font-size: 1.2rem;
                font-weight: 300;
            }
        }
    }
}

.block-container {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 2.5rem 0;
    padding: 1.5rem;
    border: thin solid;
    font-size: 1.15rem;
    line-height: 2rem;
    color: $text-color;

    .block_column_left {
        padding-right: 4.5rem;
    }
    .block_column_right {
        padding-left: 4.5rem;
    }

    .block_title {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2.1rem;
    }
    .block_subtitle {
        font-size: .95rem;
        font-weight: 400;
    }
}

.services-container {
    &_item {
        padding: 1.5rem 0;
        &_image {
            width: 5.5rem;
        }
        &_label {
            display: block;
            font-weight: 700;
            font-size: 1.3rem;
            font-weight: 400;
        }
    }
}

.about-container {
    &_image {
        width: 25rem;
    }
}

.what-we-do-container {
    &_image {
        width: 25rem;
    }
}

.partners-container {
    padding: 2rem 0;
    &_item {
        &_image {
            height: 6rem;
            opacity: 0.2;
            transition-duration: 0.3s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.testimonials-container {
    .author_data {
        padding-top: 1.5rem;
        &_avatar {
            padding-top: 1rem;
            text-align: center;
            &_image {
                width: 6rem;
                height: 6rem;
            }
            &_title {
                display: block;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: .5rem;
            }
            &_subtitle {
                font-size: .9rem;
                line-height: .3rem;
            }
        }
    }
}

.stay-connected-container {
    &_title {
        font-size: 2rem;
        font-weight: 400;
    }
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon_form {
    margin-right: 1rem;
}

.footer-container {
    background-color: #1f242e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 1rem;
    padding: 4rem 0;
    border: thin solid;
    font-size: 1rem;
    line-height: 2rem;
    color: $text-color-white;

    h2 {
        font-size: 2.7rem;
        font-weight: 400;
        line-height: 3rem;
    }

    .footer_item {
        &_title {
            font-size: 1.1rem;
            font-weight: 600;
            margin: 1rem 0;
        }
        &_body {
            a {
                color: $text-color-white;
            }
            .callto {
                margin: .7rem 0;
                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }
    }

    &_copyright {
        margin-top: 2rem;
        font-size: .9rem;
    }
}