<div class="social-networks-container">
    <div class="social-networks-container_item">
        <mat-icon svgIcon="facebook" class="social-networks-container_item_icon"></mat-icon>
    </div>
    <div class="social-networks-container_item">
        <mat-icon svgIcon="twitter" class="social-networks-container_item_icon"></mat-icon>
    </div>
    <div class="social-networks-container_item">
        <mat-icon svgIcon="instagram" class="social-networks-container_item_icon"></mat-icon>
    </div>
    <div class="social-networks-container_item">
        <mat-icon svgIcon="youtube" class="social-networks-container_item_icon"></mat-icon>
    </div>
</div>
