<div class="social-networks-container">
    <div class="social-networks-container_item" [ngClass]="iconType">
        <mat-icon svgIcon="facebook" class="social-networks-container_item_icon" [ngClass]="iconType"></mat-icon>
    </div>
    <div class="social-networks-container_item" [ngClass]="iconType">
        <mat-icon svgIcon="twitter" class="social-networks-container_item_icon" [ngClass]="iconType"></mat-icon>
    </div>
    <div class="social-networks-container_item light-icon" [ngClass]="iconType">
        <mat-icon svgIcon="instagram" class="social-networks-container_item_icon light-icon" [ngClass]="iconType"></mat-icon>
    </div>
    <div class="social-networks-container_item light-icon" [ngClass]="iconType">
        <mat-icon svgIcon="youtube" class="social-networks-container_item_icon light-icon" [ngClass]="iconType"></mat-icon>
    </div>
</div>
